#logo-image1{
	font-size:35px;
	color:#FEFEFE;
	font-family:"Myriad";
	text-transform:none;
}
.menuzord-brand:hover{
text-decoration:none;
}
#logo-image2{
	font-size:35px;
	color:#212121;
	font-family:"Myriad";
	text-transform:none;
}